<div class="sidebar">
    <div class="sidebar-wrapper">

        <div class="logo">
            <a target="_blank" href="https://www.iecs.fcu.edu.tw/" class="simple-text logo-mini"><i class="tim-icons icon-world"></i></a>
            <a target="_blank" href="https://www.iecs.fcu.edu.tw/" class="simple-text logo-normal">FCU IECS</a>
{#            <a target="_blank" href="https://www.openedu.tw/" class="simple-text logo-normal">OpenEdu</a>#}
        </div>

        <ul class="nav">
            {% if request.user.is_authenticated %}
                {% if perms.authentication.can_use_normal %}
                    <li class="{% if 'dashboard' in segment %} active {% endif %}">
                        <a href="/{{ dashboardtag }}">
                            <i class="tim-icons icon-notes"></i>
                            <p>Homepage</p>
                        </a>
                    </li>
                {% endif %}
                {% if perms.authentication.can_use_normal %}
                    <li class="{% if 'contract' in segment %} active {% endif %}">
                        <a href="/{{ contracttag }}">
                            <i class="tim-icons icon-controller"></i>
                            <p>Start</p>
                        </a>
                    </li>
                {% endif %}
                {% if perms.authentication.can_use_normal %}
                    <li class="{% if 'history' in segment %} active {% endif %}">
                        <a href="/{{ historytag }}">
                            <i class="tim-icons icon-paper"></i>
                            <p>History</p>
                        </a>
                    </li>
                {% endif %}
                {% if perms.authentication.can_use_normal %}
                    <li class="{% if 'how' in segment %} active {% endif %}">
                        <a href="/{{ howtag }}">
                            <i class="tim-icons icon-bulb-63"></i>
                            <p>How</p>
                        </a>
                    </li>
                {% endif %}
                {% if perms.authentication.can_use_normal %}
                    <li class="{% if 'about' in segment %} active {% endif %}">
                        <a href="/{{ abouttag }}">
                            <i class="tim-icons icon-single-02"></i>
                            <p>About</p>
                        </a>
                    </li>
                {% endif %}
{#                {% if perms.authentication.can_use_normal %}#}
{#                    <li class="{% if 'set' in segment %} active {% endif %}">#}
{#                        <a href="/{{ settag }}">#}
{#                            <i class="tim-icons icon-settings"></i>#}
{#                            <p>Set</p>#}
{#                        </a>#}
{#                    </li>#}
{#                {% endif %}#}
{#                {% if perms.authentication.can_use_normal %}#}
{#                    <li class="{% if 'guard' in segment %} active {% endif %}">#}
{#                        <!--a href="/{{ guardtag }}guardpage/"-->#}
{#                        <a href="#">#}
{#                            <i class="tim-icons icon-app"></i>#}
{#                            <p>Guard</p>#}
{#                        </a>#}
{#                    </li>#}
{#                {% endif %}#}
{#                {% if perms.authentication.can_use_normal %}#}
{#                    <li class="{% if 'aggression' in segment %} active {% endif %}">#}
{#                        <!--a href="/{{ aggressiontag }}aggressionpage/"-->#}
{#                        <a href="#">#}
{#                            <i class="tim-icons icon-atom"></i>#}
{#                            <p>Aggression</p>#}
{#                        </a>#}
{#                    </li>#}
{#                {% endif %}#}
{#                {% if perms.authentication.can_use_admin %}#}
{#                    <li class="{% if 'maps' in segment %} active {% endif %}">#}
{#                        <a href="ui-maps.html">#}
{#                            <i class="tim-icons icon-pin"></i>#}
{#                            <p>Maps</p>#}
{#                        </a>#}
{#                    </li>#}
{#                {% endif %}#}
                <li>
                    <a href="{% url 'logout' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Logout</p>
                    </a>
                </li>

{#                <li class="{% if 'icons' in segment %} active {% endif %}">#}
{#                    <a href="/{{ slider }}ui-icons/">#}
{#                        <i class="tim-icons icon-atom"></i>#}
{#                        <p>Icons</p>#}
{#                    </a>#}
{#                </li>#}
{#            {% else %}#}
{#                <li class="active">#}
{#                    <a target="_blank"#}
{#                       href="https://www.creative-tim.com/product/black-dashboard-pro-django">#}
{#                        <i class="tim-icons icon-spaceship"></i>#}
{#                        <p>PRO Version</p>#}
{#                    </a>#}
{#                </li>#}
            {% endif %}

        </ul>

    </div>
</div>
